<!-- Pantalla principal -->
<div class="room-menu-screen">
    <h1 class="game-title">ROCK, PAPER OR SCISSORS</h1>

    <div class="hands-container">
        <div class="hand-item">
            <img src="/images/rockHand.png" alt="Rock" class="hand-icon">
        </div>
        <div class="hand-item">
            <img src="/images/PaperHand.png" alt="Paper" class="hand-icon">
        </div>
        <div class="hand-item">
            <img src="/images/scissorsHand.png" alt="Scissors" class="hand-icon">
        </div>
    </div>

    <div class="menu-buttons">
        <button class="menu-button" (click)="onCreateRoom()">CREATE A ROOM</button>
        <button class="menu-button" (click)="onJoinRoom()">JOIN THE ROOM</button>
    </div>

    <button class="back-button" (click)="onBack()">BACK</button>
</div>